.film {
  @include flex-box(column, center, center);
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: $color-background-film;
  border-radius: 5px;

  .content {
    h2 {
      font-family: "Roboto";
    }
    img {
      width: 100%;
    }
    p {
      font-family: "Roboto";
    }
  }

  .likes-dislikes {
    @include flex-box(row, center, center);
    width: 100%;
    margin: 10px;

    .likes {
      @include flex-box(row, space-between, center);
      
      p {
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    .dislikes {
      @include flex-box(row, space-between, center);
      
      p {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  .comments {
    margin: 10px;

    .comments-form {
      @include flex-box(row, space-between, center);
      width: 70vw;

      input {
        padding: 10px;
        border: 0px;
        border-radius: 5px;
      }

      button {
        padding: 10px;
        border: 0px;
        border-radius: 5px;
      }
    }

    .comments-display {
      @include flex-box(row, space-between, center);
      margin-top: 10px;

      button {
        padding: 10px;
        border: 0px;
        border-radius: 5px;
      }
    }
  }
}
