.film {
  @include flex-box(column, center, center);
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: $color-background-film;
  border-radius: 5px;

  .content {
    h2 {
      font-family: "Roboto";
    }
    img {
      width: 100%;
    }
    p {
      font-family: "Roboto";
    }
  }

  .likes-dislikes {
    @include flex-box(row, flex-start, center);
    width: 100%;
    margin-top: 10px;

    .likes {
      @include flex-box(row, space-between, center);
      margin-right: 20px;
    }

    .dislikes {
      @include flex-box(row, space-between, center);
      margin-right: 20px;
    }
  }
}
